#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="item-container"][data-idx="0"].gallery-item-container {
  display: block !important;
  height: 625px !important;
  left: 0px !important;
  opacity: 1 !important;
  right: auto !important;
  top: 0px !important;
  transition: opacity .2s ease !important;
  width: 646px !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="item-container"][data-idx="0"] .gallery-item-wrapper {
  width: 646px !important;
  height: 485px !important;
  margin: 0 !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="item-container"][data-idx="0"] .gallery-item-content {
  width: 646px !important;
  height: 485px !important;
  margin: 0px 0px !important;
  opacity: 1 !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="item-container"][data-idx="0"] .gallery-item-hover {
  width: 646px !important;
  height: 485px !important;
  opacity: 1 !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="item-container"][data-idx="0"] .item-hover-flex-container {
  width: 646px !important;
  height: 485px !important;
  margin: 0px 0px !important;
  opacity: 1 !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="item-container"][data-idx="0"] .gallery-item-wrapper img:not(.magnified-item-preload) {
  width: 100% !important;
  height: 100% !important;
  opacity: 1 !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="item-container"][data-idx="1"].gallery-item-container {
  display: block !important;
  height: 625px !important;
  left: 786px !important;
  opacity: 1 !important;
  right: auto !important;
  top: 0px !important;
  transition: opacity .2s ease !important;
  width: 646px !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="item-container"][data-idx="1"] .gallery-item-wrapper {
  width: 646px !important;
  height: 485px !important;
  margin: 0 !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="item-container"][data-idx="1"] .gallery-item-content {
  width: 646px !important;
  height: 485px !important;
  margin: 0px 0px !important;
  opacity: 1 !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="item-container"][data-idx="1"] .gallery-item-hover {
  width: 646px !important;
  height: 485px !important;
  opacity: 1 !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="item-container"][data-idx="1"] .item-hover-flex-container {
  width: 646px !important;
  height: 485px !important;
  margin: 0px 0px !important;
  opacity: 1 !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="item-container"][data-idx="1"] .gallery-item-wrapper img:not(.magnified-item-preload) {
  width: 100% !important;
  height: 100% !important;
  opacity: 1 !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 .group-view-0 {
  --group-top: 0px !important;
  --group-left: 0px !important;
  --group-width: 786px !important;
  --group-right: auto !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 .group-view-1 {
  --group-top: 0px !important;
  --group-left: 786px !important;
  --group-width: 786px !important;
  --group-right: auto !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 {
  height: 624.5px !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 {
  height: 624.5px !important;
  width: 1432px !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 .pro-gallery-margin-container {
  height: 624.5px !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 [data-hook="gallery-column"] {
  height: 624.5px !important;
  width: 1572px !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 .thumbnails-gallery {
  display: none !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 .pro-gallery:not(.thumbnails-gallery) {
  height: 624.5px !important;
  width: 1432px !important;
  left: 0px !important;
  top: 0px !important;
}

#pro-gallery-comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 .pro-gallery-parent-container {
  height: 624.5px !important;
  width: 1572px !important;
}

#comp-m0vx3ei1_r_comp-l45l1x5f_r_comp-l45kw2h61_r_comp-l61z6xb0 .pro-gallery-wix-wrapper {
  display: block !important;
}
